*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ccc;
}
header img{
    width: 250px;
    height: 250px;
}